<div class="card" style="width: 18rem;">
    <div class="jumbotron jumbotron-fluid" style="padding: 20px;">
        <div class="container">
            <h1 class="display" style="font-size: x-large;"> {{name}}</h1>
            <h5>Manager</h5>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID : {{id}}</li>
        <li class="list-group-item">Email : <a href="{{email}}">{{email}}</a></li>
        <li class="list-group-item">Office Number: {{officeNumber}}</li>
    </ul>
</div>