/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------My actual CSS---------------------------------*/
.container{
    background-image: url(../images/prism/prism.png);

}
.name-box{
    background-color: black;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    color: white;
    font-size: 40px;
    border: 2px solid #ccc;
}
.header1{
    background-color: #fff;
    border-bottom: 2px #ccc solid; 
}
.header2{
    background-color: #fff;
}
.about{
    color: #777777;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact{    
    color: #777777;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.portfolio{
    color: #777777;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.mainbodyheader{
    font-size: 40px;
    color: #4aaaa5;
    border-bottom: #ccc 2px solid;

}

.mainbody{
    background-color: #fff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: solid #dddddd 2px;  
    line-height: 1.5em; 
}
/* ---------------------------------About me--------------------------------- */
.paragraph{ 
    font-size: 20px;
    line-height: 1.5em;
}

.imgabout{
    
}

/* ---------------------------------Portfolio--------------------------------- */
.imagedivfloat{
}

.imgname{
    background-color: #4aaaa5;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 25px;
    
}

.mainbodyportfolio{
    font-size: 40px;
    padding: 20px;
    color: #4aaaa5;
}
/* ---------------------------------Footer--------------------------------- */
.footer{ 
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
}